In [3]:
import pandas as pd
import sqlite3 as sql

In [9]:
data = pd.read_csv('data/train.csv')
data_test = pd.read_csv('data/test.csv')
display(data.shape)
display(data_test.shape)

(750000, 9)

(250000, 8)

In [11]:
full_data = pd.concat([data, data_test], ignore_index=True)

In [12]:
display(full_data.shape)
display(full_data.isna().sum())

(1000000, 9)

id                 0
Sex                0
Age                0
Height             0
Weight             0
Duration           0
Heart_Rate         0
Body_Temp          0
Calories      250000
dtype: int64

In [14]:
def create_db(data: pd.DataFrame):
    data_for_db = data.copy()
    
    conn = sql.connect('database.db')
    cursor = conn.cursor()
    
    cursor.execute("""
        CREATE TABLE data (
            id INTEGER PRIMARY KEY,
            Sex TEXT,
            Age INTEGER,
            Height REAL,
            Weight REAL,
            Duration REAL,
            Heart_Rate REAL,
            Body_Temp REAL,
            Calories REAL
        )
""")
    conn.commit()
    conn.close()

In [15]:
create_db(data = full_data)