In [1]:
import sys
sys.path.insert(0, r'P:\pet ML')
import pandas as pd
import numpy as np
import sqlite3
from work_with_db import work_with_db

In [2]:
db = work_with_db()

In [3]:
df = pd.DataFrame(db.action_with_db(action='SELECT', columns=['Sex', 'Age', "id"]))

In [4]:
df

             0   1       2
0         male  36       0
1       female  64       1
2       female  51       2
3         male  20       3
4       female  38       4
...        ...  ..     ...
999995  female  56  999995
999996    male  32  999996
999997  female  31  999997
999998  female  62  999998
999999    male  31  999999

[1000000 rows x 3 columns]